/*=== Root =================================*/
:root{
    --hue: 209;
    --cor-principal: hsl(var(--hue), 100%, 26%);
    --cor-principal-light: hsl(calc(var(--hue)-32), 23%, 89%); 
    --cor-principal-light2: hsl(var(--hue) 14%, 97%);
    --cor-bege-light: hsl(39, 100%, 97%);
    --cor-principal-hover: hsl(calc(var(--hue)-10), 100%, 14%)A;
    --header-color: hsl(0, 0%, 100%);
    --header-scroll: hsl(var(--hue), 100%, 26%);
   
    --header-heigth: 7.5rem;

    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*=== Header navigation and scrolling =================================*/
nav{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: var(--header-heigth);
    margin: 0;
    box-sizing: border-box;
    z-index: 100;

    background: var(--header-color);
    transition: .5s;
}
nav.scroll {
    background-color: var(--header-scroll);
    opacity: 0.8;
    transition: .5s;
}

nav.scroll a svg path{
    fill: #fff;
}
nav.scroll #btn-menu-mobile .line{
    background-color: #fff;
}
nav.scroll #menu .navigation ul li a{
    color: white;
    font-weight: 400;
    transition: color 300ms;
}
nav.scroll #menu .navigation ul li a:hover{
    opacity: 1;
}
nav.scroll .navigation ul li a::after{
    background-color: white;
}
nav.scroll .navigation ul li a:hover::after{
    background-color: white;
}

nav.scroll #menu .btn-contato{
    background-color: var(--cor-principal);
    border: 1px solid white;
    color: #fff;
}
nav.scroll #menu .btn-contato:hover{
    background-color: #fff;
    color: var(--cor-principal);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

#menu{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1rem;
    gap:15px;
    justify-content: space-evenly;  
    box-sizing: border-box;
}
#box-menu-mobile{
    display: none;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.navigation ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   box-sizing: border-box;
   width: 100%;

   gap: 1.8rem;
   padding: 5px 0;
   height: 25px;
   font-size: 1.5rem;
   color: #000;
}
.navigation ul li{
    box-sizing: border-box;
    padding: 1rem;
    cursor: pointer;
}
.navigation ul li a{
    opacity: 0.6;
}
.navigation ul li a:hover{
    opacity: 1;
}
.navigation ul li a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--cor-principal);
  position: relative;
  bottom: -2.1rem;
  transition: width 300ms;
  display: block;
}
.navigation ul li a:hover::after{
    width: 100%;
    transition: width 300ms;
}

.btn-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor-principal);
    width: 15rem;
    height: 3.8rem;
    border-radius: 4rem;
    padding:1rem,2.4rem,1rem,2.4rem;
    color: var(--cor-principal);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
}

.btn-contato:hover{
    background-color: var(--cor-principal);
    color:#fff;
    cursor: pointer;
}
nav.scroll.btn-contato{
    background-color: var(--cor-principal);
    color: #fff;
}
nav.scroll .btn-contato:hover{
    background-color: var(--header-color);
    color: var(--cor-principal);
    cursor: pointer;
}

@media (max-width:850px){

    body.hidden{
        overflow: hidden;
    }
    body.hidden nav{
        background-color: var(--cor-principal);
        opacity: 1;
    }
    body.hidden a svg path{
        fill: #fff;
    }
    nav{
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    nav .logo{
        width: 50%;
    }

    #box-menu-mobile{
        display: flex;
        justify-content: center;
        width: 40%;
    }
    #btn-menu-mobile{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer
    } 
    #btn-menu-mobile .line{
        display: block;
        width: 40px;
        height: 3px;
        background-color: var(--cor-principal);
        margin-block: 10px;
        border-radius: 4px;
        transition: transform .5s,
        opacity .25s;
    }
    #btn-menu-mobile.activebtn .line:nth-child(1){
        background-color: #fff;
        transform: translateY(13px)
        rotate(45deg);
    }
    #btn-menu-mobile.activebtn .line:nth-child(2){
        opacity: 0;
    }
    #btn-menu-mobile.activebtn .line:nth-child(3){
        background-color: #fff;
        transform: translateY(-13px)
        rotate(-45deg);
    }
    #menu{
        width: 5rem;
        position: relative;
        visibility: hidden;
        transform: translateY(100%);
    }
    #menu.active {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width:100%;
        height: 100vh;
        position: fixed;
        top: 7.5rem;
        right: 0px;

        font-weight: bold;
        background: var(--cor-principal);  overflow: hidden;
        transition: transform 300ms;
        visibility: visible;
        transform: translateY(0);
    }
    .navigation{
        width: 100%;
        height: 50%;
    }
    .navigation ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        color: #fff;
        opacity: 1;
        font-size: 2.4rem;
    }
    #menu .navigation ul li a{
        opacity: 1;
    }
    .btn-contato{
        width: 25.5rem;
        height: 5.5rem;
        margin-top: 2rem;
        border: 2px solid white;
        font-size: 1.8rem;
        background-color: #fff;
        color: var(--cor-principal);
    }
}
footer{
    padding-top: 2rem;
    background: #1f2933;   
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
}
.headerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    gap:1rem
}
.logo-footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7rem; 
    font-weight: 700;  
    display: inline-block;
    text-align: center;
    color: #fff;
}

.logo-footer h2{
    font-size: 1.5rem;
}
.redes-sociais{
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 15px;
}
.redes-sociais a {
    display: flex;
    align-items: center;
}
.rigths{
    padding-block: 3rem;
    color: #fff;
}
