
/*=== Pattern =================================*/
html{
    scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
    font-size: 1.6rem;  
    text-align: center;
}

.wraper{
    width: min(50rem, 100%);
    box-sizing: border-box;
    margin-inline: auto;
    padding-inline: 1rem;
}
header{
    padding: 0;
}
.wraper h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.008rem;
    line-height: 150%;
    color: var(--cor-principal);
}
.wraper h2{
    margin-top: 1.6rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--cor-titulo);
}
header h1{
    padding-bottom: 2.4rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 130%;
    color: var(--cor-titulo);
}
.content p{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: center;
    color: var(--cor-paragrafo);
    margin-block: 1.6rem;
}
.contact-button{
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1.6rem;
    padding: 1.6rem 3.2rem;
    border: none;
    border-radius: 4rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--cor-laranja);
    color: white;
    transition: background 200ms;
    box-shadow:  5px 5px 15px #d64a42,
    -5px -5px 15px #ffffff;
}
.contact-button:hover{
    background-color: #d64a42;
    color: #fff;
}
/*=== Home section =================================*/
#home{
    box-sizing: border-box;
    padding-top: 11rem;
    width: 100%;
}
#home::before{
    content: "";
    background-color: var(--cor-principal-light2);
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 101rem;
}

#home .contact-button{
    margin-bottom: 6rem;
}
#home img{
    width: 100%;
    max-width: 61rem;
    max-height: 40rem;
    border-radius: .5rem;
    object-position: 2rem 1rem;
}
#home .stats{
    display: flex;
    flex-direction: column;
    margin-inline: 1.4rem;
    gap: 6rem;
    padding-block: 4rem;
    border-radius: 0.6rem;
    background-color: var(--cor-bege-light);
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}
#home .stats::before{
    content: "";
    position: relative;
    width: 30rem;

}

#home .stat h3{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--cor-titulo)
}
#home .stat p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--cor-principal);
}
/*=== Services section =================================*/
#services{
    padding-top: 10rem;
}
#services .cards{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
#services .cards .card{
    display: flex;
    flex-direction: column;
    padding: 2rem;

    text-align: left;
    border-radius: 2.4rem;
    box-shadow:  20px 20px 40px #d9d9d9,
    -20px -20px 40px #ffffff;
    transition: all 600ms;
}
#services .cards .card:hover{
    box-shadow: 0 3rem 6rem var(--cor-principal-light2);
}
#services .card img{
    width: 4rem;
    height: 4rem;
    display: block;
    margin-inline: auto;
}
#services .card h3{
    text-align: center;
    font-size: 2.4rem;
    line-height: 3.1rem;
    font-weight: 700;
    margin-block: 1.6rem;
    color: var(--cor-titulo);
}
#services .card p{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--cor-paragrafo)
}
#services .card a{
    text-align: center;
    justify-content: center;
    width: 45%;
    padding: 1rem;
    margin-block: 1rem;
    border-radius: 1.8rem;
    margin-inline: auto;
    color: white;
    font-weight: 700;
    background-color: var(--cor-laranja);
    transition: background .5s;
}
#services a:hover{
    background:#d64a42;
}
#services .differential{
    width: 100%;
    margin-block: 5rem;
}
#services .differential .col-a h2{
    margin-bottom: 2.5rem;
}
#services .differential .col-a img{
    width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    box-shadow:  20px 20px 60px #f9f9f9,
    -20px -20px 60px #ffffff;
}
#services .differential ul{
    box-sizing: border-box;
    padding-block: 1.4rem;
    margin-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;


    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cor-paragrafo);
    line-height: 150%;
    text-align: left;
}
#services .differential .col-b ul li{
    background-color: #fffcf5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
}

#services .differential ul li div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}
#services .differential ul li p{
    font-size: 1.5rem;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--cor-paragrafo);
}

/*=== Businnes-Model section =================================*/
.transition-bg{
	position: relative;
    bottom: -1rem;
    z-index: -10;
}
#business-model{
    background: linear-gradient(to bottom,#f2f8ff, #fdfdfd, #f2f8ff);
    position: relative;
    bottom: -1rem;
}
#business-model p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--cor-paragrafo);
    text-align: left;
    margin-block: 2rem;
    padding-block: 1.5rem;
}
#business-model .buttons-services{
    display: flex;
    gap: 2rem;
}
#business-model button{
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-principal);
    border-radius: .5rem;
    background:transparent;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    transition: .5s;
}
#business-model .selected{
    color: white;
    background-color: var(--cor-principal);
    box-shadow: 0 3px #0e173f
}
#business-model button:hover{
    color: white;
    background-color: var(--cor-principal);
    box-shadow: 0 3px #0e173f
}
#business-model .content .steps, .showing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 10rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 800ms;
}
#business-model .content .hidden{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10%);
}
#business-model .content .steps .step{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#business-model .content h3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-principal);
}
#business-model .content i{
    width: 3rem;
    height: 3rem;
    line-height: 5.2rem;
    border-radius: 100px 100px 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--cor-principal);
}
#business-model .content p{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
#business-model .content svg{
    width: 10rem;
    height: 10rem;
}


/*=== Depositions section =================================*/

#depositions{
    box-sizing: border-box;
    position: relative;
    top: -0.1rem;
    padding-top: 5rem;
    background-color: #ffffff;
}

/*=== SWiper Js =================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide-container{
box-sizing: border-box;
max-width: 1012px;
width: min(112rem, 100%);
margin-top: 5rem;
}
.slide-content{
margin: 0;
overflow: hidden;
}

#depositions .content .card-comment{
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 30rem;
height: 32rem;
padding: 2rem;
margin-block: 4rem;
background-color: var(--cor-principal-light2);
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.095);
border-radius: 1.5rem;

transition: transform 800ms;
}

#depositions .content .card-comment p{
    text-align: left;
    margin-block: 2rem;
}
#depositions .content .card-comment h5{
    color: var(--cor-principal);
    font-weight: 700;
}
#depositions .content .client{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#depositions .content img{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

  
#depositions .swiper-navBtn{
    color: var(--cor-principal);
    transition: color 0.3s ease;
}
#depositions .swiper-navBtn:hover{
color: #4070F4;
}
#depositions .swiper-navBtn::before,
.swiper-navBtn::after{
font-size: 35px;
}
#depositions .swiper-buttons{
display: flex;
justify-content: center;
gap: 3rem;
display: none;
}
#depositions .swiper-button-next{
position: relative;
top: 1rem;
left: 13rem;
}
#depositions .swiper-button-prev{
position: relative;
top: 1rem;
left: -13rem;
}
#depositions .swiper-pagination-bullet{
background-color: #6E93f7;
opacity: 1;
}
#depositions .swiper-pagination-bullet-active{
background-color: #4070F4;
}

  @media(max-width: 500px) {
    #depositions .slide-content{
      margin: 0;
    }
    #depositions .swiper-navBtn{
        display: none;
      }
  }

/*=== Depositions section/ contact-us =================================*/
#depositions .contact-us{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    margin-inline: auto;
    bottom: -13rem;
    padding-block: 2rem;
    border-radius: 1rem;

    background-color: #1971C2;
}
#depositions .contact-us h3{
    color:#ffffff;
    font-size: 3rem;
    font-weight: 700;
    margin-block: 2rem;
}
#depositions .contact-us p{
    color: #ffffff;
}
#depositions .contact-button{
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1.6rem;
    padding: 1.6rem 3.2rem;
    border: none;
    border-radius: 4rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    color: var(--cor-principal);
    transition: background 200ms;
    box-shadow:  3px 3px 8px #e9e9e9e9,
    -3px -3px 8px var(--cor-principal-light2);
}
#depositions .contact-button:hover{
    background-color: #f9f9f9;
}
/*=== About section =================================*/
#about{
    background-color: var(--cor-bege-light);
    padding: 2rem;
    padding-bottom: 2rem;
}
#about .wraper::before{
    content: "";
    width: 45rem;
    height: 45rem;
    position: relative;
    grid-area: A;
    top: 2rem;
    right: 5rem;
    z-index: 1;
    opacity: .2;
    background-image: linear-gradient(to right top, #1971c2, #5a92d2, #8bb4e1, #bcd6f0, #f0f8ff);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
#about h4{
    margin-top: 18rem;
}
#about .content p{
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-block: 2.5rem;
}
#about .content h3{
    margin-top: 2rem;

    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--cor-principal);
}
#about .content ul{
    list-style:disc;
    text-align: left;
    margin-left: 3rem;
    color: var(--cor-paragrafo);
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-block: 1rem;
    margin-bottom: 2rem;
}
#about img{
    width: 100%;
    border-radius: .6rem;
}
#about .contact-button{
    margin-block: 4rem;
}
#about .contact-button svg{
    transition: 200ms;
}
#about .contact-button:hover svg{
    transform: translateX(5px);
}
/*=== About >> accordion*/
#accordion-section{
    width: 100%;
    background: #fcfcfc;
}
#accordion{
    padding-block: 5rem;
}
#accordion h3{
    text-align: left;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--cor-titulo);
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-block: 1rem;
}
#accordion .accordion-item{
    margin:0;
    width: 100%;
    height: 100%;
}


#accordion .accordion-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 2rem; 
    padding-right: 1rem;
    height: 8rem;
    font-size: 1.6rem;
    color: var(--cor-titulo);
    background-color: #fcfcfc;
    border: none;
    border-bottom: .8px solid #6c757d;
    text-align: left;
    cursor: pointer;
}
#accordion .accordion-button.active{
    color: var(--cor-principal);
}
#accordion .accordion-button.active .i-arrow svg{
    transform: rotate(180deg);
}
#accordion .accordion-button.active .i-arrow svg line{
    stroke: #1971C2;
}
#accordion .content-accordion-show{
    height: 100%;
    padding-left: 1rem;
    opacity: 1;
    background:hsl(209, 14%, 97%);
    visibility: visible;
    transition: all 0.5s;
}
#accordion .content-accordion-hidden{
    padding-left: 1rem;
    opacity: 0;
    visibility: hidden;
    height: 1rem;
}
#accordion .accordion-body{
    padding-block: 1rem;
    text-align: left;
    font-size: 1.6rem;
    color: var(--cor-paragrafo);
    line-height: 2.4rem;
}
/*=== Contact section =================================*/
#contact{
    padding-top: 5rem;
}
#contact .content{
    padding: 2rem;
    margin-block: 3.2rem;
}
#contact .content h5{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--cor-titulo);
    margin-block: 1.6rem;
}
#contact .content svg:nth-child(3){
    display: none;
}
#contact .form{
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background: hsl(209, 14%, 97%);
    text-align: left;
}
#contact .form h3{
    text-align: left;
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-block: 2rem;
}
#contact .form p{
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-block: 2.5rem;
}
#contact .inputs{
    margin-block: 3rem;
}
#contact .label{
    margin-bottom: 2rem;
    margin-block: auto;
}

#contact .text-input{
    box-sizing: border-box;
    padding: 0.9rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #272530;
    font-size: 1.6rem;
    outline: none;
    transition: all 0.3s;
    margin-top: .5rem;
    background: hsl(209, 14%, 97%);
}
#contact .text-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f6f7f8 inset;
}
#contact .div-input-check{
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
#contact .text-input-check{
    width: 2rem;
    cursor: pointer;
}
#contact .text-input:focus{
    border-bottom: 2px solid var(--cor-principal);
}
#contact .text-input::placeholder{
    font-size: 1.6rem;
    transition: all 0.3s;    
}
#contact .submit-btn{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2rem;
    gap: 1rem;
    border: none;
    color: #fff;
    padding: 1.5rem;
    border-radius: 3rem;
    background-color: #56bd5b;
    cursor: pointer;
    transition: background-color 500ms;
    box-shadow:  3px 3px 8px #56bd5b,
    -3px -3px 8px #d7d7d7;
}
#contact .submit-btn svg{    
    transition: all 200ms;
}
#contact .submit-btn:hover{
    background-color: hsl(123, 44%, 48%);
}
#contact .submit-btn:hover svg{
    transform: translateX(5px);
}
#background-section{
    width: 100%;
    height: 20rem;
    position: relative;
    bottom: -10rem;
    z-index: -1;
}
.last-section{
    background: #212529;
    padding-block: 2rem;
    color: #fff;
}
.last-section h2{
    margin-top: 1.6rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    color: #fff;
}
.last-section .contact-button{
    width: 80%;
    border-radius: 3rem;
    margin-block: 4rem;
    padding: 2rem;
    box-shadow:  3px 3px 8px #d64a42,
    -3px -3px 8px hsl(3, 64%, 75%);
}
#backToTopBtn{
    position: fixed;
    bottom: 1rem;
    right: .5rem;

    visibility: hidden;
    opacity: 0;
    z-index: 10;
}
#backToTopBtn.show{
    opacity: 1;
    visibility: visible;
}

/*=== Screen 1024 =================================*/
@media (min-width: 1024px) {
    body {
        overflow: auto;
      }
    .wraper{
        width: min(112rem, 100%);
        display: grid;
    }
    section {
        padding-block: 5rem;
      }
    
    section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
    }
    /*=== Home section =================================*/
    #home{
        padding-top: 12rem;
    }
    #home::before{
        height: 60rem;
    }
    #home .wraper{
        grid-template-columns: 56rem 1fr;
        grid-template-areas:
        'A B'
        'C C';
    }
    #home .wraper .col-a {
        grid-area: A;
        text-align: left;
        padding-left: 5rem;
        align-self: center;
      }
    #home .wraper h1{
    font-size: 4rem;
    }
    #home .wraper p{
    text-align: left;
    }
    #home .wraper .contact-button{
    margin-inline: 0;
    margin-top: 1rem;
    }
    #home .wraper img{
        width: 100%;
        max-height: 42rem;
        height: 100%;
        object-position: -1rem 0;
        object-fit: cover;
    }
    #home .wraper .col-b {
        grid-area: B;
        display: flex;
        align-items: flex-end;
    }
    #home .stats{
    grid-area: C;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    padding-block: 6rem;
    }
    #home .stats::before{
    display: none;
    }
    #home .stats .stat{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    }
    #home .stats .stat + .stat{
    border-left: 1px solid var(--cor-principal);
    }

    /*=== Services section =================================*/
    #services .cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    #services .cards .card{
    width: 25%;
    height: 31rem;
    flex-grow: 1;
    justify-content: space-between;
    }
    #services .cards .card h3{
    margin-block:0;
    }
    #services .differential{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:'A B';
    }
    #services .differential .col-a{
        grid-area: A;
        align-self: center;
        padding-right: 2rem;
    }
    #services .differential .col-a{
        text-align: left;
    }
    #services .differential .col-b{
        grid-area: B;
        align-self: center;
        padding-left: 2rem;
    }
/*=== Businnes-Model section =================================*/
    #business-model header p{
        width: 80rem;
        margin-inline: auto;
    }
    #business-model .buttons-services{
        display: flex;
        justify-content: center;
    }
    #business-model button{
        width: 30rem;
        padding: 2rem;
    }
    #business-model .content{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:'A B';
    }
    #business-model .content .steps{
        gap: 5rem;
        justify-content: center;
    }
    #business-model .content .steps.col-a{
        grid-area: A;
    }
    #business-model .content .steps.col-b{
        grid-area: B;
    }
    #business-model .content .steps .step{
        width: 35rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;
    }
/*=== Depositions section =================================*/
    #depositions .swiper-buttons{
        display: flex;   
    }
    #depositions .contact-us{
        bottom: -16rem;
    }
/*=== About section =================================*/
    #about{
        background-image: linear-gradient(to right top, #fffcf5, #fffbf3, #fffbf0, #fffaee, #fff9ec);
    }
    #about .wraper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A B";
        padding-block: 5rem;
        padding-inline: 0;
        margin-top: 13rem;
    }

    #about .wraper .col-a {
        grid-area: A;
        align-self: center;
        padding: 1rem;
        text-align: left;
        padding-left: 3rem;
    } 
    #about .wraper h4{
        text-align: center;
        margin-top: 0;
    } 
    #about .wraper .content p {
        width: 43rem;
    } 
    #about .wraper .col-b {
        grid-area: B;
    }
    #about .wraper .col-b img{
        max-width: 67rem;
        z-index: 5;
    }


/*=== Accordion =================================*/
    #accordion{
        width: min(100rem,100%);
        margin-inline: auto;
    }
    /*=== Contact section =================================*/
    #contact{
        padding-block: 0;
    } 
    #contact .wraper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A B";
        padding-top: 5rem;
        padding-inline: 0;
    }
    #contact .wraper .col-a{
        grid-area: A;
        align-self: center;
        text-align: left;
        padding-inline: 5rem;
        justify-content: center;
        padding-top: 5rem;
    }
    #contact header{
        width: 50rem;
        margin-inline: auto;
    }

    #contact .form{
        background-color: #fff;
    }
    #contact .content h5{
        display: none;
    }

    #contact .content svg:nth-child(3){
        display: block;
        margin-inline: auto;
        border-radius: 30% 70% 45% 55% / 30% 30% 70% 70% ;
        box-shadow:  20px 20px 60px #f9f9f9,
        -20px -20px 60px #ffffff;
    }
    #contact .form h3{
        text-align: left;
        width: 35rem;
        margin-inline: auto;
    }
    #contact .form .inputs{
        width: 35rem;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        margin-block: 1.8rem;
    }
    #contact .form .inputs input{
        border: 2px solid #000;
        border-radius: 0.5rem;
        background-color: #fff;
    }
    #contact .form .inputs input:focus{
        border: 2px solid var(--cor-principal);
    }
    #contact .form .inputs .div-inputs-check{
        display: flex;
    }
    #contact .form .inputs .div-inputs-check .div-input-check{
        padding: 0;
        padding-block: 1.5rem;
        padding-right: 1.5rem;
    }
    #contact .form .inputs button{
        width: 10rem;
    }
    #contact .wraper .col-b{
        grid-area: B;
        align-self: center;
        padding-top: 5rem;
    }
    .last-section .contact-button{
        width: 40rem;
    }
}
